<div id="<%= dom_id benefit %>">
  <p>
    <strong>Organization:</strong>
    <%= benefit.organization_id %>
  </p>

  <p>
    <strong>Benefit type:</strong>
    <%= benefit.benefit_type_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= benefit.name %>
  </p>

  <p>
    <strong>Valuation type:</strong>
    <%= benefit.valuation_type %>
  </p>

</div>
