<p style="color: green"><%= notice %></p>
<%= render @benefit %>
<div>
  <%= link_to "Edit this benefit", edit_benefit_path(@benefit) %> |
  <%= link_to "Back to benefits", organization_benefits_path(@benefit.organization) %>
  <%= button_to "Destroy this benefit", @benefit, method: :delete %>
</div>
