<%= form_with(model: [personal_development_plan, talent]) do |form| %>
  <% if talent.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(talent.errors.count, "error") %> prohibited this talent from being saved:</h2>
      <ul>
        <% talent.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
