<p style="color: green"><%= notice %></p>

<%= render @talent %>

<div>
  <%= link_to "Edit this talent", edit_talent_path(@talent) %> |
  <%= link_to "Back to talents", talents_path %>

  <%= button_to "Destroy this talent", @talent, method: :delete %>
</div>
