<div id="<%= dom_id praise_post %>">
  <p>
    <strong>Nominee:</strong>
    <%= praise_post.nominee_id %>
  </p>

  <p>
    <strong>Nominator:</strong>
    <%= praise_post.nominator_id %>
  </p>

  <p>
    <strong>Praise type:</strong>
    <%= praise_post.praise_type_id %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= praise_post.message %>
  </p>

  <p>
    <strong>Channel:</strong>
    <%= praise_post.channel_id %>
  </p>

</div>
