<p>Hi <%= @manager.full_name %> </p>
<p> Here are the details for  <%= @new_joiner.job_applicant.full_name %> onboarding </p>
<p> Location: <%= @onboarding_event.location %> </p>
<p> On: <%= @onboarding_event.on.strftime("%e %b %Y") %> </p>
<p> At: <%= @onboarding_event.at.strftime("%l:%M %p") %> </p>
<p> The Contact Point is also <%= @onboarding_event.contact.full_name %> who can be reached at <%= @onboarding_event.contact.work_email %> </p>
<p> Other Relevant Instructions:
  <br>
  <%= @onboarding_event.instructions %>
</p>
<p> Thank You, </p>