<div id="<%= dom_id performance_review_response %>">
  <p>
    <strong>Reviewer:</strong>
    <%= performance_review_response.reviewer_id %>
  </p>

  <p>
    <strong>Reviewee:</strong>
    <%= performance_review_response.reviewee_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= performance_review_response.status %>
  </p>

  <p>
    <strong>Response:</strong>
    <%= performance_review_response.response %>
  </p>

  <p>
    <strong>Submitted on:</strong>
    <%= performance_review_response.submitted_on %>
  </p>

  <p>
    <strong>Performance review:</strong>
    <%= performance_review_response.performance_review_id %>
  </p>

</div>
