<div id="<%= dom_id performance_review_response %>">
  <p>
    <strong>Reviewer:</strong>
    <%= performance_review_response.reviewer_id %>
  </p>
  <p>
    <strong>Reviewee:</strong>
    <%= performance_review_response.reviewee_id %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= performance_review_response.status %>
  </p>
  <div>
    <% if performance_review_response.performance_review_answers.present? %>
      <% performance_review_response.performance_review_answers.each do |answer| %>
        <p>
          <strong>Question:</strong>
          <%= answer.performance_review_question.title %>
        </p>
        <p>
          <strong>Answer:</strong>
          <%= answer.answer %>
        </p>
      <% end %>
    <% else %>
      <p>No answers available.</p>
    <% end %>
  </div>
  <div>
    <p>
      <strong>Submitted on:</strong>
      <%= performance_review_response.submitted_on %>
    </p>
    <p>
      <strong>Performance review:</strong>
      <%= performance_review_response.performance_review_id %>
    </p>
  </div>
