<% content_for :title, "Complete milestone" %>
<h1>Complete milestone</h1>
<%= form_with(model: @milestone) do |form| %>
  <% if @milestone.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@milestone.errors.count, "error") %> prohibited this milestone from being saved:</h2>
      <ul>
        <% @milestone.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.rich_textarea :description %>
  </div>
  <div>
    <%= form.label :completed_on, style: "display: block" %>
    <%= form.date_field :completed_on %>
  </div>
  <div>
    <%= form.label :evidence, style: "display: block" %>
    <%= form.file_field :evidence, multiple: true %>
  </div>
  <div>
    <%= form.submit "Complete Milestone" %>
  </div>
<% end %>
<br>
<div>
  <%= link_to "Show this milestone", @milestone %> |
  <%= link_to "Back to milestones", goal_milestones_path(@milestone.goal) %>
</div>
