<div id="<%= dom_id employee %>">
  <p>
    <strong>First name:</strong>
    <%= employee.first_name %>
  </p>
  <p>
    <strong>Last name:</strong>
    <%= employee.last_name %>
  </p>
  <p>
    <strong>Dob:</strong>
    <%= employee.dob %>
  </p>
  <p>
    <strong>Gender:</strong>
    <%= employee.gender %>
  </p>
  <p>
    <strong>Addr line1:</strong>
    <%= employee.addr_line1 %>
  </p>
  <p>
    <strong>Addr line2:</strong>
    <%= employee.addr_line2 %>
  </p>
  <p>
    <strong>Addr line3:</strong>
    <%= employee.addr_line3 %>
  </p>
  <p>
    <strong>Addr postcode:</strong>
    <%= employee.addr_postcode %>
  </p>
  <p>
    <strong>City:</strong>
    <%= employee.city %>
  </p>
  <p>
    <strong>Country:</strong>
    <%= employee.country %>
  </p>
  <p>
    <strong>Phone1:</strong>
    <%= employee.phone1 %>
  </p>
  <p>
    <strong>Phone2:</strong>
    <%= employee.phone2 %>
  </p>
  <p>
    <strong>Personal email:</strong>
    <%= employee.personal_email %>
  </p>
  <p>
    <strong>Work email:</strong>
    <%= employee.work_email %>
  </p>
  <p>
    <strong>Id number:</strong>
    <%= employee.id_number %>
  </p>
  <p>
    <strong>Nationality:</strong>
    <%= employee.nationality %>
  </p>
  <p>
    <strong>Passport number:</strong>
    <%= employee.passport_number %>
  </p>
  <p>
    <strong>Hire date:</strong>
    <%= employee.hire_date %>
  </p>
  <p>
    <strong>Employement:</strong>
    <%= employee.employement_id %>
  </p>
  <p>
    <strong>Preferred name:</strong>
    <%= employee.preferred_name %>
  </p>
  <section>
    <h4> Manager </h4>
    <% if employee.manager %>
      <div> <%= employee&.manager&.full_name %>
        <%= link_to "View Manager's Profile", employee_path(employee.manager) %>
      </div>
    <% else %>
      <%= link_to "Assign Manager", new_employee_employee_manager_path(employee)%>
    <% end %>
  </section>
</div>
