<p style="color: green"><%= notice %></p>
<%= render @employee %>
<div>
  <%= link_to "Add Employee File(s)", new_employee_employee_file_path(@employee)  %>
  |
  <%= link_to "Assign Manager", new_employee_employee_manager_path(@employee) %>
  |
  <%= link_to "Add Emergency Contact", new_employee_emergency_contact_path(@employee) %>
</div>
<div>
  <%= link_to "Add Asset", new_employee_org_asset_path(@employee) %>
</div>
<div>
  <%= link_to "Add Leave Policy", new_employee_leave_balance_path(@employee) %>
</div>
<div>
  <%= link_to "Request Leave", new_employee_leave_request_path(@employee) %>
</div>
<div>
  <%= link_to "Log Hours Worked", new_employee_time_worked_path(@employee) %>
</div>
<div>
  <%= link_to "View Benefits", employee_benefits_path(@employee) %>
</div>
<div>
  <%= link_to "Add Goal", new_employee_goal_path(@employee) %>
</div>
<div>
  <%= link_to "New 1-1 Meeting", new_employee_one_to_one_path(@employee) %>
</div>
<div>
  <%= link_to "Performance Reviews", employee_performance_review_responses_path(@employee) %>
</div>
<div>
  <%= link_to "Edit this employee", edit_employee_path(@employee) %> |
  <%= link_to "Back to employees", organization_employees_path(@organization) %>
  <%= button_to "Destroy this employee", @employee, method: :delete %>
</div>
