<div id="<%= dom_id interview_feedback %>">
  <p>
    <strong>Interview:</strong>
    <%= interview_feedback.interview_id %>
  </p>

  <p>
    <strong>Interviewer:</strong>
    <%= interview_feedback.interviewer_id %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= interview_feedback.notes %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= interview_feedback.status %>
  </p>

</div>
