<%= form_with(model: [employee, leave_balance]) do |form| %>
  <% if leave_balance.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(leave_balance.errors.count, "error") %> prohibited this leave_balance from being saved:</h2>
      <ul>
        <% leave_balance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :leave_policy_id, style: "display: block" %>
    <%= form.select :leave_policy_id, @employee.organization.leave_policies.map { |leave_policy| [leave_policy.name, leave_policy.id]} %>
    <div>
      <div>
        <%= form.submit %>
      </div>
    <% end %>
