<div id="<%= dom_id pulse_survey_response %>">
  <p>
    <strong>Pulse survey:</strong>
    <%= pulse_survey_response.pulse_survey_id %>
  </p>
  <p>
    <strong>Annon:</strong>
    <%= pulse_survey_response.annon_id %>
  </p>
  <% pulse_survey_response.pulse_survey_answers.each do |answer| %>
    <p>
      <strong><%= answer.pulse_question.title %>:</strong>
      <%= answer.sentiment %>
    </p>
    <p>
      <strong>Answer:</strong>
      <%= answer.answer %>
    </p>
  <% end %>
  <p>
    <strong>Submitted on:</strong>
    <%= pulse_survey_response.submitted_on %>
  </p>
</div>
