<div id="<%= dom_id pulse_survey_response %>">
  <p>
    <strong>Pulse survey:</strong>
    <%= pulse_survey_response.pulse_survey_id %>
  </p>

  <p>
    <strong>Responder:</strong>
    <%= pulse_survey_response.responder_id %>
  </p>

  <p>
    <strong>Annon:</strong>
    <%= pulse_survey_response.annon_id %>
  </p>

  <p>
    <strong>Submitted on:</strong>
    <%= pulse_survey_response.submitted_on %>
  </p>

</div>
