<div id="<%= dom_id interview %>">
  <p>
    <strong>Interview stage:</strong>
    <%= interview.interview_stage_id %>
  </p>
  <p>
    <strong>On:</strong>
    <%= interview.interview_on %>
  </p>
  <p>
    <strong>At:</strong>
    <%= interview.interview_at %>
  </p>
  <p>
    <strong>Meeting link:</strong>
    <%= interview.meeting_link %>
  </p>
  <p>
    <strong>Room:</strong>
    <%= interview.room %>
  </p>
  <p>
    <strong>Location:</strong>
    <%= interview.location %>
  </p>
  <p>
    <strong>Job applicant:</strong>
    <%= interview.job_applicant_id %>
  </p>
  <p>
    <strong>Note:</strong>
    <%= interview.note %>
  </p>
</div>
