<div id="<%= dom_id leave_policy %>">
  <p>
    <strong>Leave category:</strong>
    <%= leave_policy.leave_category_id %>
  </p>
  <p>
    <strong>Start balance:</strong>
    <%= leave_policy.start_balance %>
  </p>
  <p>
    <strong>Balance starts:</strong>
    <%= leave_policy.valid_from %>
  </p>
  <p>
    <strong>Balance expires:</strong>
    <%= leave_policy.valid_to %>
  </p>
  <p>
    <strong>Organization:</strong>
    <%= leave_policy.organization_id %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= leave_policy.name %>
  </p>
</div>
