<div id="<%= dom_id leave_request %>">
  <p>
    <strong>Employee:</strong>
    <%= leave_request.employee_id %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= leave_request.status %>
  </p>
  <p>
    <strong>Date from:</strong>
    <%= leave_request.date_from %>
  </p>
  <p>
    <strong>Date to:</strong>
    <%= leave_request.date_to %>
  </p>
</div>
