<p style="color: green"><%= notice %></p>
<%= render @cost_center %>
<div>
  <%= link_to "Edit this cost center", edit_cost_center_path(@cost_center) %> |
  <%= link_to "Back to cost centers", organization_cost_centers_path(@cost_center) %>
  <%= button_to "Destroy this cost center", @cost_center, method: :delete %>
</div>
