<div id="<%= dom_id emergency_contact %>">
  <p>
    <strong>Employee:</strong>
    <%= emergency_contact.employee_id %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= emergency_contact.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= emergency_contact.last_name %>
  </p>

  <p>
    <strong>Phone1:</strong>
    <%= emergency_contact.phone1 %>
  </p>

  <p>
    <strong>Phone2:</strong>
    <%= emergency_contact.phone2 %>
  </p>

  <p>
    <strong>Addr line1:</strong>
    <%= emergency_contact.addr_line1 %>
  </p>

  <p>
    <strong>Addr line2:</strong>
    <%= emergency_contact.addr_line2 %>
  </p>

  <p>
    <strong>Addr lin3:</strong>
    <%= emergency_contact.addr_lin3 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= emergency_contact.city %>
  </p>

  <p>
    <strong>Postcode:</strong>
    <%= emergency_contact.postcode %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= emergency_contact.country %>
  </p>

</div>
