<div id="<%= dom_id performance_review %>">
  <p>
    <strong>Performance review type:</strong>
    <%= performance_review.performance_review_type_id %>
  </p>

  <p>
    <strong>Opens on:</strong>
    <%= performance_review.opens_on %>
  </p>

  <p>
    <strong>Closes on:</strong>
    <%= performance_review.closes_on %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= performance_review.name %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= performance_review.organization_id %>
  </p>

</div>
