<%= form_with(model: benefit_election) do |form| %>
  <% if benefit_election.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(benefit_election.errors.count, "error") %> prohibited this benefit_election from being saved:</h2>

      <ul>
        <% benefit_election.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :employee_id, style: "display: block" %>
    <%= form.text_field :employee_id %>
  </div>

  <div>
    <%= form.label :benefit_plan_id, style: "display: block" %>
    <%= form.text_field :benefit_plan_id %>
  </div>

  <div>
    <%= form.label :selected_on, style: "display: block" %>
    <%= form.date_field :selected_on %>
  </div>

  <div>
    <%= form.label :documents, style: "display: block" %>
    <%= form.file_field :documents, multiple: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
