<div id="<%= dom_id time_worked %>">
  <p>
    <strong>Start time:</strong>
    <%= time_worked.start_time %>
  </p>
  <p>
    <strong>End time:</strong>
    <%= time_worked.end_time %>
  </p>
  <p>
    <strong>Note:</strong>
    <%= time_worked.note %>
  </p>
  <p>
    <strong>Day:</strong>
    <%= time_worked.day %>
  </p>
  <p>
    <strong>Employee:</strong>
    <%= time_worked.employee_id %>
  </p>
  <p>
    <strong>Hours:</strong>
    <%= time_worked.hours %>
    <p>
    </div>
