<div id="<%= dom_id org_asset %>">
  <p>
    <strong>Employee:</strong>
    <%= org_asset.employee_id %>
  </p>

  <p>
    <strong>Asset category:</strong>
    <%= org_asset.asset_category_id %>
  </p>

  <p>
    <strong>Date given:</strong>
    <%= org_asset.date_given %>
  </p>

  <p>
    <strong>Date returned:</strong>
    <%= org_asset.date_returned %>
  </p>

  <p>
    <strong>Asset name:</strong>
    <%= org_asset.asset_name %>
  </p>

  <p>
    <strong>Asset serial number:</strong>
    <%= org_asset.asset_serial_number %>
  </p>

</div>
