<p> HI, <%= @manager.full_name %> </p>
<p> You have been assigned a new joiner, <%= @new_joiner.job_applicant.full_name %> </p>
<p> Please contact <%= @new_joiner.job_applicant.full_name %> on <%= @new_joiner.job_applicant.email %> with any questions & tips. </p>
<p> Their start date is <%= @new_joiner.start_date %> </p>
<p> Thank you, </p>