<div id="<%= dom_id pulse_survey %>">
  <p>
    <strong>Date open:</strong>
    <%= pulse_survey.date_open %>
  </p>

  <p>
    <strong>Date close:</strong>
    <%= pulse_survey.date_close %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= pulse_survey.name %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= pulse_survey.organization_id %>
  </p>

</div>
