<div id="<%= dom_id job_posting %>">
  <p>
    <strong>Organization:</strong>
    <%= job_posting.organization_id %>
  </p>
  <p>
    <strong>Num positions:</strong>
    <%= job_posting.num_positions %>
  </p>
  <p>
    <strong>Date open:</strong>
    <%= job_posting.date_open %>
  </p>
  <p>
    <strong>Date close:</strong>
    <%= job_posting.date_close %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= job_posting.description %>
  </p>
</div>
