<div id="<%= dom_id goal %>">
  <p>
    <strong>Employee:</strong>
    <%= goal.employee_id %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= goal.manager_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= goal.name %>
  </p>

  <p>
    <strong>Starts on:</strong>
    <%= goal.starts_on %>
  </p>

  <p>
    <strong>Ends on:</strong>
    <%= goal.ends_on %>
  </p>

</div>
