<%= form_with(model: [local_assigns[:organization], job_function]) do |form| %>
  <% if job_function.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(job_function.errors.count, "error") %> prohibited this job_function from being saved:</h2>
      <ul>
        <% job_function.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :salary_range, style: "display: block" %>
    <%= form.number_field :salary_range_min %>
  </div>
  <div>
    <%= form.label :salary_range, style: "display: block" %>
    <%= form.number_field :salary_range_max %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
