<div id="<%= dom_id job_function %>">
  <p>
    <strong>Title:</strong>
    <%= job_function.title %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= job_function.department_id %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= job_function.organization_id %>
  </p>

  <p>
    <strong>Salary range:</strong>
    <%= job_function.salary_range %>
  </p>

</div>
