<%= render @organization %>
<div>
  <%= link_to "Edit this organization", edit_organization_path(@organization) %> |
  <%= link_to "Back to organizations", organizations_path %>
  <%= link_to "Add Employee", new_organization_employee_path(@organization) %>
  <%= link_to "Add Location", new_organization_location_path(@organization) %>
  <%= link_to "Add Cost Center", new_organization_cost_center_path(@organization) %>
  <%= link_to "Add Department", new_organization_department_path(@organization) %>
  <%= link_to "Add Job", new_organization_job_function_path(@organization) %>
  <%= link_to "Add Document Policy", new_organization_document_path(@organization) %>
  <%= link_to "Add Company File(s)", new_organization_company_file_path(@organization)  %>
</div>
<div>
  <%= link_to "View Employees", organization_employees_path(@organization) %>
</div>
<div>
  <%= link_to "Add Asset Categories", new_organization_asset_category_path(@organization) %>
</div>
<div>
  <%= link_to "Add Leave Category", new_organization_leave_category_path(@organization) %>
</div>
<div>
  <%= link_to "Add Leave Policy", new_organization_leave_policy_path(@organization) %>
</div>
<div>
  <%= link_to "Add Benefit Type", new_organization_benefit_type_path(@organization) %>
</div>
<div>
  <%= link_to "Add Benefit Policy", new_organization_benefit_path(@organization) %>
</div>
<div>
  <%= link_to "Add Job Posting", new_organization_job_posting_path(@organization) %>
</div>
<div>
  <%= link_to "Add Interview Stage", new_organization_interview_stage_path(@organization) %>
</div>
<div>
  <%= link_to "View Job Applicants", organization_job_applicants_path(@organization) %>
</div>
<div>
  <%= link_to "New Performance Review", new_organization_performance_review_path(@organization) %>
</div>
<div>
  <%= link_to "New Channel", new_organization_channel_path(@organization) %> |
  <%= link_to "View Channels", organization_channels_path(@organization) %>
</div>
<div>
  <%= link_to "New Pulse Survey", new_organization_pulse_survey_path(@organization) %>
</div>
<div>
  <%= button_to "Destroy this organization", @organization, method: :delete %>
</div>
