<div id="<%= dom_id channel_post %>">
  <p>
    <strong>Creator:</strong>
    <%= channel_post.creator_id %>
  </p>
  <p>
    <strong>Likes:</strong>
    <%= channel_post.likes %>
  </p>
  <p>
    <strong>Channel:</strong>
    <%= channel_post.channel_id %>
  </p>
  <div>
    <%= channel_post.content %>
  </div>
</div>
