<div id="<%= dom_id interview_stage %>">
  <p>
    <strong>Organization:</strong>
    <%= interview_stage.organization_id %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= interview_stage.name %>
  </p>
  <p>
    <strong>Stage Type:</strong>
    <%= interview_stage.stage_type %>
  </p>
  <p>
    <strong>Mandatory:</strong>
    <%= interview_stage.mandatory %>
  </p>
</div>
