<p style="color: green"><%= notice %></p>

<%= render @performance_review_type %>

<div>
  <%= link_to "Edit this performance review type", edit_performance_review_type_path(@performance_review_type) %> |
  <%= link_to "Back to performance review types", performance_review_types_path %>

  <%= button_to "Destroy this performance review type", @performance_review_type, method: :delete %>
</div>
