<p style="color: green"><%= notice %></p>

<%= render @personal_development_plan %>

<div>
  <%= link_to "Edit this personal development plan", edit_personal_development_plan_path(@personal_development_plan) %> |
  <%= link_to "Back to personal development plans", personal_development_plans_path %>

  <%= button_to "Destroy this personal development plan", @personal_development_plan, method: :delete %>
</div>
