<div id="<%= dom_id location %>">
  <p>
    <strong>Name:</strong>
    <%= location.name %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= location.organization_id %>
  </p>

  <p>
    <strong>Addr line1:</strong>
    <%= location.addr_line1 %>
  </p>

  <p>
    <strong>Addr line2:</strong>
    <%= location.addr_line2 %>
  </p>

  <p>
    <strong>Addr line3:</strong>
    <%= location.addr_line3 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= location.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= location.country %>
  </p>

</div>
